.header{
    display: flex;
    height: 52.93px;
    margin-left: 200px;
    background: #F8FAFF;
    color: black;
    padding: 1rem;
    border-radius: white;
    box-shadow: white;

}
.search-bar {
    position: relative;
    margin-left: 590px;
  }

  .search-icon {
    position: absolute;
    margin-top: 18px;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #B0B0B0;

  }
  
  input[type="text"] {
    padding-right: 150px;
    width: 197.59580993652344px;
    height: 32.93263626098633px;
     top: 71px;
    left: 1103px;
    border: 1px

     /* Ensure space for the search icon */
  }  
  
  

.header nav {
    margin-top: 1rem;
    text-align: right;
    
  }
  .header nav a {
    color:black;
    text-decoration: none;
    gap:200px;
    text-align: center;

  }
  
.content{
    display: flex;
    flex: 1;
}
main{
    flex: 1;
    padding: 16px;

}
img{
    width: 18.000001907348633px;
height: 20.887969970703125px;

left: 1314.3861083984375px;
margin-top: 5px;

}